@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
@import url("styles/navbar-footer.css");
@import url("styles/layout.css");

@font-face {
    font-family: 'Ogonek';
}

/* utils */
.center {
    text-align: center;
    margin: 0 auto;
}

.slick-next, .slick-prev {
    top: 40% !important;
}

.padding {
    padding: 20px;
}

.padding-50 {
    padding: 50px;
}

.panel-default > .panel-heading {
    background-color: #ffffff;
    border-color: orange;
}

.panel-heading {
    border-bottom: 1px solid transparent
}

.panel-default {
    border-color: #ffffff;
}

.panel-body {
    padding-top: 30px;
}

.notification {
    font-size: 18pt;
}

.padding-v {
    padding: 10px 0;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.lightgray {
    color: lightgray;
    white-space: pre-wrap;
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

.float-none {
    float: none;
}

@media (min-width: 1200px) {
    picture > img {
        width: 100%;
        height: auto;
    }

}


