body, html {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.page-container {
    padding-top: 90px;
    padding-bottom: 30px;
}

/*sections*/
.sections-container .sections-heading {
    font-size: 14px;
}

.content {
    margin-top: 20px;
}

.footer-container {
    padding: 39px 0;
    font-size: 12px;
    color: #89898C;
    overflow: hidden;
    background-color: #464749;
}

.footer-container div {
    overflow: hidden;
}

.footer-container h3 {
    font-size: 14px;
    color: #B3B3B3;
    margin-top: 0;
    font-weight: bold;
}

.footer-container a:link, #footer a:visited {
    color: #89898C;
}

.footer-final {
    background-color: #212121;
    padding: 20px;
}


.fidku {
    color: #B3B3B3
}

@media screen and (max-width: 650px) {
    .footerLogo {
        width: 100%;
        margin: 0;
        float: none;
        clear: both;
        text-align: center;
    }

    .footerCol {
        display: none;
    }
}

@media (max-width: 768px) {
    .footer-container {
        padding-top: 30px;
    }
}
