/*navbar styles*/
.navbar a.active {
    text-decoration: none !important;
    text-decoration-color: none !important;
    color: orange !important;
    padding-bottom: 3px;
    border-bottom: orange 3px solid;
}

.navbar-item {
    height:100%;
}

.navbar img {
    width: auto;
    height: 100%;
}

.navbar a {
    text-transform: uppercase;
    color: gray;
    height:100%;
}

.navbar a:hover {
    text-decoration: none !important;
    text-decoration-color: orange !important;
}

.navbar-nav > li > div {
    line-height: 2.3;
    padding: 15px;
}

.navbar-brand {
    padding: 10px 15px;
    border-bottom: none !important;
}

.navbar-toggle {
    background-color: white;
    margin-top: 13px;
}

@media (max-width: 1024px) {
    .logo.desktop {
        display: none !important;
    }
}

@media (min-width: 1025px) {
    .logo.mobile {
        display: none !important;
    }
}

.navbar-header, .navbar-brand {
    height: 60px;
}

